 .u-section-1 {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-image: linear-gradient(to right, #000000, #ff000b);
  background-size: cover;
  min-height: 6341px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 1183px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-image: linear-gradient(to right, #000000, #ff000b);
  background-size: cover;
}

.u-section-1 .u-container-layout-1 {
  padding: 17px 30px;
}

.u-section-1 .u-text-1 {
  font-weight: 400;
  margin: 202px 378px 0 auto;
}

.u-section-1 .u-text-2 {
  font-size: 4.5rem;
  margin: 219px calc(((100% - 1140px) / 2)  + 9px) 0 calc(((100% - 1140px) / 2)  + 165px);
}

.u-section-1 .u-image-1 {
  width: 266px;
  height: 300px;
  margin: 214px auto 0 calc(((100% - 1140px) / 2)  + 34px);
}

.u-section-1 .u-image-2 {
  width: 259px;
  height: 300px;
  margin: -293px calc(((100% - 1140px) / 2)  + 417px) 0 auto;
}

.u-section-1 .u-image-3 {
  width: 300px;
  height: 300px;
  margin: -300px calc(((100% - 1140px) / 2)  + 9px) 0 auto;
}

.u-section-1 .u-image-4 {
  width: 368px;
  height: 368px;
  margin: 54px auto 0 calc(((100% - 1140px) / 2)  + -17px);
}

.u-section-1 .u-image-5 {
  width: 285px;
  height: 300px;
  margin: -328px calc(((100% - 1140px) / 2)  + 404px) 0 auto;
}

.u-section-1 .u-image-6 {
  width: 309px;
  height: 309px;
  margin: -281px calc(((100% - 1140px) / 2)) 0 auto;
}

.u-section-1 .u-text-3 {
  font-size: 1rem;
  margin: 101px calc(((100% - 1140px) / 2)  + 447px) 0 calc(((100% - 1140px) / 2)  + 477px);
}

.u-section-1 .u-image-7 {
  width: 174px;
  height: 300px;
  margin: 23px calc(((100% - 1140px) / 2)  + 294px) 0 calc(((100% - 1140px) / 2)  + 477px);
}

.u-section-1 .u-text-4 {
  font-size: 1rem;
  width: auto;
  margin: 145px calc(((100% - 1140px) / 2)  + 400px) 0 calc(((100% - 1140px) / 2)  + 524px);
}

.u-section-1 .u-image-8 {
  width: 175px;
  height: 300px;
  margin: 30px calc(((100% - 1140px) / 2)  + 294px) 0 calc(((100% - 1140px) / 2)  + 477px);
}

.u-section-1 .u-image-9 {
  width: 232px;
  height: 300px;
  margin: 49px auto 0 calc(((100% - 1140px) / 2)  + -19px);
}

.u-section-1 .u-image-10 {
  width: 167px;
  height: 300px;
  margin: -1044px calc(((100% - 1140px) / 2)  + 294px) 0 calc(((100% - 1140px) / 2)  + 477px);
}

.u-section-1 .u-image-11 {
  width: 300px;
  height: 300px;
  margin: 774px auto 0;
}

.u-section-1 .u-text-5 {
  margin: -257px -79px 0 calc(((100% - 1140px) / 2)  + 743px);
}

.u-section-1 .u-image-12 {
  width: 176px;
  height: 300px;
  margin: 259px auto 60px;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 6133px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 975px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 308px;
  }

  .u-section-1 .u-text-2 {
    margin-left: calc(((100% - 940px) / 2));
    margin-right: calc(((100% - 940px) / 2));
  }

  .u-section-1 .u-image-1 {
    margin-left: calc(((100% - 940px) / 2)  + 34px);
  }

  .u-section-1 .u-image-2 {
    margin-right: calc(((100% - 940px) / 2)  + 417px);
  }

  .u-section-1 .u-image-3 {
    margin-right: calc(((100% - 940px) / 2)  + 9px);
  }

  .u-section-1 .u-image-4 {
    margin-left: calc(((100% - 940px) / 2)  + -17px);
  }

  .u-section-1 .u-image-5 {
    margin-right: calc(((100% - 940px) / 2)  + 404px);
  }

  .u-section-1 .u-image-6 {
    margin-right: calc(((100% - 940px) / 2));
  }

  .u-section-1 .u-text-3 {
    margin-right: calc(((100% - 940px) / 2)  + 347px);
    margin-left: calc(((100% - 940px) / 2)  + 377px);
  }

  .u-section-1 .u-image-7 {
    margin-right: calc(((100% - 940px) / 2)  + 294px);
    margin-left: calc(((100% - 940px) / 2)  + 377px);
  }

  .u-section-1 .u-text-4 {
    margin-right: calc(((100% - 940px) / 2)  + 300px);
    margin-left: calc(((100% - 940px) / 2)  + 424px);
  }

  .u-section-1 .u-image-8 {
    height: 299px;
    margin-right: calc(((100% - 940px) / 2)  + 294px);
    margin-left: calc(((100% - 940px) / 2)  + 377px);
  }

  .u-section-1 .u-image-9 {
    margin-top: -676px;
    margin-left: calc(((100% - 940px) / 2)  + -19px);
  }

  .u-section-1 .u-image-10 {
    height: 301px;
    margin-top: -319px;
    margin-right: calc(((100% - 940px) / 2)  + 294px);
    margin-left: calc(((100% - 940px) / 2)  + 377px);
  }

  .u-section-1 .u-image-11 {
    margin-top: -587px;
  }

  .u-section-1 .u-text-5 {
    margin-left: calc(((100% - 940px) / 2)  + 613px);
  }

  .u-section-1 .u-image-12 {
    margin-top: 229px;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 5258px;
  }

  .u-section-1 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 231px;
  }

  .u-section-1 .u-text-2 {
    margin-left: calc(((100% - 720px) / 2));
    margin-right: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-image-1 {
    margin-left: calc(((100% - 720px) / 2)  + 34px);
  }

  .u-section-1 .u-image-2 {
    margin-right: calc(((100% - 720px) / 2)  + 417px);
  }

  .u-section-1 .u-image-3 {
    margin-right: calc(((100% - 720px) / 2)  + 9px);
  }

  .u-section-1 .u-image-4 {
    margin-left: calc(((100% - 720px) / 2)  + -17px);
  }

  .u-section-1 .u-image-5 {
    margin-right: calc(((100% - 720px) / 2)  + 404px);
  }

  .u-section-1 .u-image-6 {
    margin-right: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-text-3 {
    margin-right: calc(((100% - 720px) / 2)  + 237px);
    margin-left: calc(((100% - 720px) / 2)  + 267px);
  }

  .u-section-1 .u-image-7 {
    margin-right: calc(((100% - 720px) / 2)  + 279px);
    margin-left: calc(((100% - 720px) / 2)  + 267px);
  }

  .u-section-1 .u-text-4 {
    margin-right: calc(((100% - 720px) / 2)  + 190px);
    margin-left: calc(((100% - 720px) / 2)  + 314px);
  }

  .u-section-1 .u-image-8 {
    margin-right: calc(((100% - 720px) / 2)  + 278px);
    margin-left: calc(((100% - 720px) / 2)  + 267px);
  }

  .u-section-1 .u-image-9 {
    margin-left: calc(((100% - 720px) / 2)  + -19px);
  }

  .u-section-1 .u-image-10 {
    margin-right: calc(((100% - 720px) / 2)  + 286px);
    margin-left: calc(((100% - 720px) / 2)  + 267px);
  }

  .u-section-1 .u-image-11 {
    margin-top: -1338px;
  }

  .u-section-1 .u-text-5 {
    margin-left: calc(((100% - 720px) / 2)  + 470px);
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-container-layout-1 {
    padding-top: 28px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 182px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1rem;
    margin-left: calc(((100% - 540px) / 2));
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-image-1 {
    margin-left: calc(((100% - 540px) / 2)  + 34px);
  }

  .u-section-1 .u-image-2 {
    margin-right: calc(((100% - 540px) / 2)  + 281px);
  }

  .u-section-1 .u-image-3 {
    margin-top: 20px;
    margin-right: calc(((100% - 540px) / 2)  + 9px);
  }

  .u-section-1 .u-image-4 {
    margin-left: calc(((100% - 540px) / 2)  + -17px);
  }

  .u-section-1 .u-image-5 {
    margin-right: calc(((100% - 540px) / 2)  + 255px);
  }

  .u-section-1 .u-image-6 {
    margin-top: 20px;
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-text-3 {
    margin-right: calc(((100% - 540px) / 2)  + 147px);
    margin-left: calc(((100% - 540px) / 2)  + 177px);
  }

  .u-section-1 .u-image-7 {
    margin-right: calc(((100% - 540px) / 2)  + 195px);
    margin-left: calc(((100% - 540px) / 2)  + 171px);
  }

  .u-section-1 .u-text-4 {
    margin-right: calc(((100% - 540px) / 2)  + 100px);
    margin-left: calc(((100% - 540px) / 2)  + 224px);
  }

  .u-section-1 .u-image-8 {
    margin-right: calc(((100% - 540px) / 2)  + 194px);
    margin-left: calc(((100% - 540px) / 2)  + 171px);
  }

  .u-section-1 .u-image-9 {
    margin-left: calc(((100% - 540px) / 2)  + -19px);
  }

  .u-section-1 .u-image-10 {
    margin-right: calc(((100% - 540px) / 2)  + 202px);
    margin-left: calc(((100% - 540px) / 2)  + 171px);
  }

  .u-section-1 .u-text-5 {
    margin-left: calc(((100% - 540px) / 2)  + 353px);
  }

  .u-section-1 .u-image-12 {
    margin-top: 236px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 3050px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 675px;
  }

  .u-section-1 .u-container-layout-1 {
    padding: 0;
  }

  .u-section-1 .u-text-1 {
    font-weight: 700;
    width: auto;
    margin-top: 164px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.5rem;
    width: auto;
    margin-top: -258px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-image-1 {
    width: 170px;
    height: 121px;
    margin-top: 66px;
    margin-left: 243px;
  }

  .u-section-1 .u-image-2 {
    width: 148px;
    height: 121px;
    margin-top: -121px;
    margin-right: auto;
    margin-left: 32px;
  }

  .u-section-1 .u-image-3 {
    width: 122px;
    height: 122px;
    margin-right: auto;
    margin-left: 41px;
  }

  .u-section-1 .u-image-4 {
    width: 167px;
    height: 167px;
    margin-top: 21px;
    margin-left: 27px;
  }

  .u-section-1 .u-image-5 {
    width: 170px;
    height: 132px;
    margin-top: -315px;
    margin-right: auto;
    margin-left: 243px;
  }

  .u-section-1 .u-image-6 {
    width: 145px;
    height: 145px;
    margin-top: 32px;
    margin-right: auto;
    margin-left: 255px;
  }

  .u-section-1 .u-text-3 {
    font-size: 1.5rem;
    width: auto;
    margin-top: 73px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-image-7 {
    width: 125px;
    height: 195px;
    margin-top: -114px;
    margin-right: calc(((100% - 340px) / 2)  + 22px);
    margin-left: auto;
  }

  .u-section-1 .u-text-4 {
    font-size: 1.5rem;
    width: 216px;
    margin-top: 471px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-image-8 {
    width: 114px;
    height: 195px;
    margin-top: -704px;
    margin-right: auto;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-image-9 {
    width: 150px;
    height: 150px;
    margin-top: 835px;
    margin-left: 35px;
  }

  .u-section-1 .u-image-10 {
    width: 121px;
    height: 243px;
    margin-top: -871px;
    margin-right: auto;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-image-11 {
    width: 200px;
    height: 200px;
    margin-top: 450px;
    margin-left: 205px;
  }

  .u-section-1 .u-text-5 {
    width: auto;
    margin-top: -428px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-image-12 {
    width: 149px;
    height: 203px;
    margin-top: -746px;
    margin-right: calc(((100% - 340px) / 2));
  }
} .u-section-2 {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-image: linear-gradient(to right, #000000, #ff000b);
  background-size: cover;
}

.u-section-2 .u-sheet-1 {
  min-height: 410px;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  border-style: solid;
  font-weight: 400;
  font-size: 1rem;
  margin: 146px auto 60px;
  padding: 0;
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 317px;
  }

  .u-section-2 .u-btn-1 {
    font-weight: 700;
    font-size: 2.25rem;
    margin-top: 83px;
  }
}